:root{
    --mainColor: #606B56;
    --secondaryColor:#515a48;

    --borderColor: #164D56;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder: #fff;

    --previewBg:rgb(81, 90, 72, 0.8);
    --previewShadow:#111921;

    --btnColor:#669966;
}
